{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <!-- Libs CSS -->
    <link rel="stylesheet" href="{% static 'fonts/feather/feather.min.css' %}">
<!--    <link rel="stylesheet" href="{% static '' %}">-->
    <link rel="stylesheet" href="{% static 'css/theme.min.css' %}" id="stylesheetLight">
    {% block extrahead %}
    {% endblock extrahead %}


    <title>{% block pagetitle %} {% endblock pagetitle %} |  Blog </title>
  </head>
  <body>

    {% block body %}

    {% endblock body %}
    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Libs JS -->
    <script src="{% static '/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static '/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Map -->
<!--    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>-->

    <!-- Theme JS -->
    <script src="{% static 'js/theme.min.js' %}"></script>

  </body>
</html>