@media screen and (min-width: 950px) {
  .home {
    margin-top: 26px;
  }
}

.home {
  position: relative;
  min-height: 440px;
  margin: auto;
  max-width: 1250px;
  text-align: left;
}

.account-svg{
    height: 1.2rem;
    fill: #2c7be5;
}


@media screen and (max-width: 700px){
    .mobile-only{
        display: none;
    }
}